@using System.Collections
@model ETicaretDersiProje.Eticaret.MvcWebUI.Models.HomeListViewModel
@{
    Layout = "../_LayoutPageHomeStatic.cshtml";
}
<div class="page-hi"><img src="~/Content/assets/images/pages/top/duyuru.png" alt="Duyurular" /></div>
<section>



    <h1>Duyurular</h1>
    <div class="not">
        <img src="~/Content/assets/images/notices/yeni-site.jpg" alt="Yenilendik" />
        <div class="not-tit">Yenilendik</div>
        <p>Siz değerli iş ortaklarımıza daha kaliteli hizmet vermek için web sitemizi de yeniledik.</p>
    </div>


</section>



