@using System.Collections
@model ETicaretDersiProje.Eticaret.MvcWebUI.Models.HomeListViewModel
@{
    Layout = "../_LayoutPageHome.cshtml";
}
<section>
    <div class="abo-hom">
        <h2>Kurumsal</h2>
        <p>Teknoloji, tasarım ve yaratıcılığın bileşimiyle; ütü masaları, çamaşır kurutma askıları, krom çöp kovaları, desenli çöp kovaları, metal banyo gereçleri, metal mutfak gereçleri, merdiven ve pazar arabası üreten Laisy Home; tüketicinin ihtiyaç ve beklentilerini en iyi şekilde anlayarak onların hayatını kolaylaştıran, pratik, estetik ve yüksek kalitede ürünler sunmaktadır.</p>
        <a href="kurumsal.html" class="inf-hom-lin">devamını oku</a>
    </div>
    <div class="not-hc">
        <h2>Duyurular</h2>
        <b>Yenilendik</b>
        <a href="duyurular.html"><img src="~/Content/assets/images/notices/yeni-site.jpg" alt="Yenilendik" /></a>
        <a href="duyurular.html" class="inf-hom-lin">devamını oku</a>
    </div>
    <div class="cat">
        <img src="~/Content/assets/catalog/catalog.png" alt="" />
        <span>2018<br>Ürün Kataloğu</span>
    </div>
</section>



