@using System.Collections
@model ETicaretDersiProje.Eticaret.MvcWebUI.Models.HomeListViewModel
@{
    Layout = "../_LayoutPageHomeStatic.cshtml";
}
<div class="page-hi"><img src="~/Content/assets/images/pages/top/kurumsal.jpg" alt="Kurumsal" /></div>
<section>

    <h1>Kurumsal</h1>
    <p><img src="~/Content/assets/images/pages/right/kurumsal-sertifika.jpg" alt="Kurumsal" class="rig-img" /></p>
    <p>1999&#39;da yerli bir marka olarak doğan Laisy Home, yurti&ccedil;inde edindiği tecr&uuml;belerle başarısını kısa s&uuml;re i&ccedil;erisinde uluslararası alana taşıyabilen &ouml;zel bir markadır. Bug&uuml;n 40 &uuml;lkede milyonlarca eve ulaşabilen Laisy Home,&nbsp;Arnavutk&ouml;y&rsquo;de 5.500 m2 kapalı alanda, aylık 50 bin adet &uuml;retim yapabilen İstanbul&rsquo;un en b&uuml;y&uuml;k &uuml;reticisi konumundadır.</p>

    <p>Teknoloji, tasarım ve yaratıcılığın bileşimiyle; &uuml;t&uuml; masaları, &ccedil;amaşır kurutma askıları, krom &ccedil;&ouml;p kovaları, desenli &ccedil;&ouml;p kovaları, metal banyo gere&ccedil;leri, metal mutfak gere&ccedil;leri, merdiven ve pazar arabası &uuml;reten Laisy Home; t&uuml;keticinin ihtiya&ccedil; ve beklentilerini en iyi şekilde anlayarak onların hayatını kolaylaştıran, pratik, estetik ve y&uuml;ksek kalitede &uuml;r&uuml;nler sunmaktadır.</p>

    <p>Laisy Home; s&uuml;rekli geliştirdiği &uuml;r&uuml;n &ccedil;eşidi, satış ağı, satış sonrası hizmetleri, pazarlama stratejileriyle hem kullanıcılarının hem de m&uuml;şterilerinin memnuniyetini daima en &uuml;stte tutan kurumsal k&uuml;lt&uuml;r bilincine sahip bir firmadır.</p>

    <p>Yenilik&ccedil;i ve s&uuml;rd&uuml;r&uuml;lebilir b&uuml;y&uuml;me hedefiyle t&uuml;m paydaşlarının memnuniyetini her ge&ccedil;en g&uuml;n artıran Laisy Home, hep daha kaliteli &uuml;r&uuml;nler sunmayı ve verdiği s&ouml;zlerin daima arkasında durmayı ama&ccedil; edinmiştir. İşte bu y&uuml;zden Laisy Home, ge&ccedil;mişte olduğu gibi gelecekte de yanı başınızda olmaya ve hayatınızı kolaylaştırmaya devam edecektir.</p>




</section>



