@using System.Collections
@model ETicaretDersiProje.Eticaret.MvcWebUI.Models.HomeListViewModel
@{
    Layout = "../_LayoutPageHome.cshtml";
}


@if (@Model.Products.FirstOrDefault() != null)
{
    <h1>
        @Model.Products.FirstOrDefault().Category.CategoryName
    </h1>
}
<ul class="pro-lis">
    @foreach (var item in Model.Products)
    {
    <li>
        <span class="bor-top"></span><span class="bor-rig"></span><span class="bor-lef"></span><span class="bor-bot"></span>
        <a href="/Home/Detail/@item.ProductID">
            <img src="@item.Picture" alt="Eda İkili Duşakabin Rafı" />
            <b>@item.ProductName</b>
        </a>
    </li>
    }
</ul>



