.hea {
    position: relative;
    float: left;
    width: 100%;
    height: 160px;
    background: url(/web/20180905095310im_/http://laisy.com.tr/assets/images/header-map.png) left no-repeat
}

.log {
    float: left;
    width: 160px;
    height: 160px
}

    .log img {
        float: left;
        width: 100%;
        height: auto
    }

.log-mob {
    display: none
}

.hea-rig {
    position: absolute;
    top: 30px;
    right: 0
}

.sea {
    float: left
}

    .sea input {
        float: left;
        width: 190px;
        height: 30px;
        font-size: 13px;
        padding: 0 15px;
        background: #fff url(/web/20180905095310im_/http://laisy.com.tr/assets/images/search-bg.png);
        border: 3px solid #dfdfdf;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px
    }

    .sea button {
        float: left;
        width: 30px;
        height: 30px;
        background: url(/web/20180905095310im_/http://laisy.com.tr/assets/images/search-btn.png);
        cursor: pointer
    }

.lan {
    float: left;
    height: 30px;
    margin-left: 20px
}

    .lan a, .lan span {
        float: left;
        color: #58585a;
        font-size: 16px;
        line-height: 30px;
        font-weight: 500;
        margin-left: 7.5px
    }

    .lan span {
        color: #9f1f63
    }

    .lan a:hover {
        color: #9f1f63
    }

.hea-men {
    float: right;
    margin-top: 100px
}

    .hea-men li {
        float: left;
        margin-right: 75px
    }

        .hea-men li:last-child {
            margin-right: 0
        }

        .hea-men li a {
            color: #58585a;
            font-size: 16px;
            font-weight: 400
        }

            .hea-men li a:hover {
                color: #9f1f63
            }


.foo-men {
    float: left;
    width: 80%
}

    .foo-men li {
        float: left;
        margin-right: 30px
    }

        .foo-men li a {
            color: #fff;
            font-size: 17px;
            line-height: 30px;
            font-weight: 500
        }

            .foo-men li a:hover {
                border-bottom: 1px solid #fff
            }

.foo-sn {
    float: right
}

    .foo-sn li {
        float: left
    }

        .foo-sn li a {
            float: left;
            height: 25px;
            margin-left: 10px
        }

            .foo-sn li a.fac {
                width: 12px;
                background: url(/web/20180905095310im_/http://laisy.com.tr/assets/images/facebook.png)
            }

            .foo-sn li a.tiw {
                width: 30px;
                background: url(/web/20180905095310im_/http://laisy.com.tr/assets/images/twitter.png)
            }

            .foo-sn li a.ins {
                width: 25px;
                background: url(/web/20180905095310im_/http://laisy.com.tr/assets/images/instagram.png)
            }

.mar {
    float: right;
    width: 70px;
    height: 50px;
    margin-top: -50px;
    background: url(/web/20180905095310im_/http://laisy.com.tr/assets/images/markazula.png)
}

#main {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    overflow-y: scroll
}

.pro-lis {
    float: left;
    width: 100%
}

    .pro-lis li {
        position: relative;
        float: left;
        width: 21.25%;
        height: 100%;
        margin: 5% 5% 0 0;
        padding: 10px
    }

        .pro-lis li:nth-child(-n+4) {
            margin: 0 5% 0 0
        }

        .pro-lis li:nth-child(4n) {
            margin-right: 0
        }

        .pro-lis li a {
            float: left;
            width: 100%
        }

            .pro-lis li a img {
                float: left;
                width: 100%;
                height: auto
            }

        .pro-lis li b {
            float: left;
            width: 100%;
            color: #565658;
            font-size: 14px;
            text-align: right;
            font-weight: 400;
            margin-top: 10px
        }

.bor-top {
    position: absolute;
    width: 20%;
    height: 1px;
    background: #ccc;
    top: 0;
    right: 0
}

.bor-rig {
    position: absolute;
    width: 1px;
    height: 20%;
    background: #ccc;
    top: 0;
    right: 0
}

.bor-lef {
    position: absolute;
    width: 30%;
    height: 1px;
    background: #ccc;
    bottom: 0;
    left: 0
}

.bor-bot {
    position: absolute;
    width: 1px;
    height: 30%;
    background: #ccc;
    bottom: 0;
    left: 0
}

.pro-dl {
    position: relative;
    float: left;
    width: 55%;
    margin-right: 5%;
    padding: 50px
}

    .pro-dl img {
        float: left;
        width: 100%;
        height: auto
    }

.pro-dr {
    float: right;
    width: 40%
}

    .pro-dr h2 {
        float: left;
        width: 100%;
        color: #9f1f63;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc
    }

    .pro-dr p {
        float: left;
        width: 100%;
        color: #575759;
        font-size: 16px;
        line-height: 18px;
        font-weight: 300;
        margin-bottom: 15px
    }

    .pro-dr ul {
        foat: left;
        width: 100%
    }

        .pro-dr ul li {
            float: left;
            width: 100%;
            color: #575759;
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 5px;
            list-style: inside
        }

.pro-thu {
    float: left;
    width: 100%;
    margin-bottom: 30px
}

    .pro-thu img {
        float: left;
        width: 30%;
        margin: 5% 5% 0 0;
        padding: 10px;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        cursor: pointer
    }

        .pro-thu img:nth-child(3n) {
            margin: 5% 0 0 0
        }

        .pro-thu img:nth-child(-n+3) {
            margin-top: 0
        }

.pro-inf {
    float: right;
    width: 100%;
    margin: 30px 0
}

    .pro-inf img {
        float: right;
        width: 60%;
        height: auto
    }

@keyframes fadeIn {
    to {
        opacity: 1
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn .5s ease-in 1 forwards
}

.sli {
    float: left;
    width: 100%;
    background: #fff
}

    .sli li {
        position: relative;
        float: left;
        height: 100%;
        z-index: 1
    }

        .sli li img {
            float: left;
            width: 100%;
            height: auto
        }

            .sli li img.sli-mi {
                display: none
            }

.sli-con {
    position: absolute;
    width: 40%;
    height: 100%;
    z-index: 2;
    top: 0;
    right: 0
}

.sli-cl {
    position: absolute;
    width: 75%;
    height: 100%;
    top: 0;
    right: 25%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%
}

    .sli-cl b {
        position: absolute;
        color: #333;
        font-size: 45px;
        line-height: 50px;
        text-align: right;
        font-weight: 400;
        top: 40%;
        right: 0
    }

.orange {
    background: url(/web/20180905095310im_/http://laisy.com.tr/assets/images/sliders/colors/orange.png)
}

.turquoise {
    background: url(/web/20180905095310im_/http://laisy.com.tr/assets/images/sliders/colors/turquoise.png)
}

.purple {
    background: url(/web/20180905095310im_/http://laisy.com.tr/assets/images/sliders/colors/purple.png)
}

.sli-cr {
    position: absolute;
    width: 25%;
    height: 100%;
    top: 0;
    right: 0
}

.cat-lis {
    float: left;
    width: 100%
}

    .cat-lis li {
        float: left;
        width: 12.5%;
        margin-right: 5%
    }

        .cat-lis li:last-child {
            margin-right: 0
        }

        .cat-lis li a {
            float: left;
            color: #6a6a6b;
            font-weight: 400
        }

            .cat-lis li a b {
                float: left;
                width: 100%;
                font-size: 16px;
                text-align: center;
                font-weight: 400;
                margin-bottom: 20px
            }

            .cat-lis li a img {
                float: left;
                width: 100%
            }

.abo-hom {
    float: left;
    width: 60%
}

    .abo-hom h2 {
        color: #9f1f63;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 20px
    }

    .abo-hom p {
        color: #575759;
        font-size: 20px;
        line-height: 28px;
        font-weight: 300;
        margin-bottom: 10px;
        padding-right: 30px
    }

.inf-hom-lin {
    float: left;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px
}

    .inf-hom-lin:hover {
        border-bottom: 1px solid #333
    }

.cat-hom {
    position: relative;
    float: left;
    width: 20%
}

    .cat-hom img {
        float: left;
        width: 85%;
        margin: 0 0 20px 15%
    }

    .cat-hom span {
        position: absolute;
        color: #575759;
        font-size: 16px;
        line-height: 18px;
        text-align: right;
        font-weight: 400;
        right: 0;
        bottom: 30px
    }

.not-hc {
    float: left;
    width: 20%
}

    .not-hc h2 {
        color: #9f1f63;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 20px
    }

    .not-hc b {
        float: left;
        width: 100%;
        color: #333;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px
    }

    .not-hc img {
        float: left;
        width: 100%
    }

.cat {
    position: relative;
    float: left;
    width: 20%
}

    .cat img {
        float: left;
        width: 85%;
        margin: 0 0 20px 15%
    }

    .cat span {
        position: absolute;
        color: #575759;
        font-size: 16px;
        line-height: 18px;
        text-align: right;
        font-weight: 400;
        right: 0;
        bottom: 30px
    }

    .cat a {
        position: absolute;
        color: #9f1f63;
        font-size: 18px;
        font-weight: 600;
        right: 0;
        bottom: 10px
    }

.ref-hom h2 {
    color: #9f1f63;
    font-size: 22px;
    font-weight: 400
}

.ref-hom-lis {
    float: left;
    width: 100%
}

    .ref-hom-lis li {
        float: left;
        width: 100%;
        padding: 40px
    }

        .ref-hom-lis li img {
            float: left;
            width: 100%;
            filter: grayscale(1)
        }

            .ref-hom-lis li img:hover {
                filter: none
            }

.ref-hom-lis, .sli {
    float: left;
    width: 100%;
    position: relative;
    z-index: 1
}

    .ref-hom-lis .owl-stage, .sli .owl-stage {
        position: relative
    }

        .ref-hom-lis .owl-stage:after, .sli .owl-stage:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0
        }

    .ref-hom-lis .owl-stage-outer, .sli .owl-stage-outer {
        position: relative;
        overflow: hidden
    }

    .ref-hom-lis .owl-item, .sli .owl-item {
        position: relative;
        min-height: 1px;
        float: left
    }

        .ref-hom-lis .owl-item img, .sli .owl-item img {
            display: block;
            width: 100%
        }

    .ref-hom-lis .owl-dots.disabled, .ref-hom-lis .owl-nav.disabled, .sli .owl-dots.disabled, .sli .owl-nav.disabled {
        display: none
    }

    .ref-hom-lis .owl-nav .owl-next, .ref-hom-lis .owl-nav .owl-prev, .sli .owl-nav .owl-next, .sli .owl-nav .owl-prev {
        cursor: pointer;
        cursor: hand
    }

    .ref-hom-lis .owl-dot, .sli .owl-dot {
        cursor: pointer;
        cursor: hand
    }

    .ref-hom-lis.owl-loaded, .sli.owl-loaded {
        display: block
    }

    .ref-hom-lis.owl-loading, .sli.owl-loading {
        opacity: 0;
        display: block
    }

    .ref-hom-lis.owl-hidden, .sli.owl-hidden {
        opacity: 0
    }

    .ref-hom-lis.owl-refresh .owl-item, .sli.owl-refresh .owl-item {
        visibility: hidden
    }

    .ref-hom-lis.owl-grab, .sli.owl-grab {
        cursor: move;
        cursor: grab
    }

    .ref-hom-lis.owl-rtl, .sli.owl-rtl {
        direction: rtl
    }

        .ref-hom-lis.owl-rtl .owl-item, .sli.owl-rtl .owl-item {
            float: right
        }

    .ref-hom-lis .owl-dots, .sli .owl-dots {
        display: table;
        margin: 0 auto
    }

        .ref-hom-lis .owl-dots .owl-dot, .sli .owl-dots .owl-dot {
            display: inline-block;
            zoom: 1
        }

            .ref-hom-lis .owl-dots .owl-dot span, .sli .owl-dots .owl-dot span {
                width: 15px;
                height: 15px;
                margin: 10px 5px;
                background: #ccc;
                display: block;
                transition: opacity .2s ease;
                border-radius: 30px;
                opacity: .6
            }

            .ref-hom-lis .owl-dots .owl-dot.active span, .ref-hom-lis .owl-dots .owl-dot:hover span, .sli .owl-dots .owl-dot.active span, .sli .owl-dots .owl-dot:hover span {
                background: #7c134c;
                opacity: 1
            }

.new-hom .owl-dots.disabled, .new-hom .owl-nav.disabled, .ref-lis .owl-dots.disabled, .ref-lis .owl-nav.disabled {
    display: block
}

.ref-hom-lis .owl-nav .owl-next, .ref-hom-lis .owl-nav .owl-prev {
    top: 40%
}

.ref-hom-lis .owl-nav .owl-prev {
    left: 0
}

.ref-hom-lis .owl-nav .owl-next {
    right: 0
}

.category-select {
    color: #9f1f63 !important;
    font-weight: 500 !important
}

.page-hi {
    float: left;
    width: 100%
}

    .page-hi img {
        float: left;
        width: 100%;
        height: auto
    }

section {
    float: left;
    width: 100%;
    padding: 30px 10%;
    background: #fff
}

    section h1 {
        float: left;
        width: 100%;
        color: #9f1f63;
        font-size: 26px;
        font-weight: 400;
        margin-bottom: 30px
    }

    section p {
        float: none;
        color: #58595b;
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
        margin-bottom: 15px
    }

        section p:last-child {
            margin-bottom: 0
        }

.rig-img {
    float: right;
    margin: 0 0 30px 30px
}

.not {
    float: left;
    width: 100%
}

    .not p {
        float: left;
        width: 73%
    }

    .not img {
        float: left;
        width: 24%;
        margin-right: 2%
    }

.not-tit {
    float: left;
    width: 74%;
    color: #333;
    font-size: 18px;
    margin-bottom: 10px
}

.ref {
    float: left;
    width: 100%
}

    .ref li {
        float: left;
        width: 15.83333333333333%;
        margin: 1% 1% 0 0;
        padding: 30px;
        border: 1px solid #c3c3c3
    }

        .ref li:nth-child(-n+6) {
            margin: 0 1% 0 0
        }

        .ref li:nth-child(6n) {
            margin-right: 0
        }

        .ref li img {
            display: block;
            float: none;
            width: 100%;
            margin: 0 auto
        }

.cor-ser-l1 {
    width: 17.5%
}

    .cor-ser-l1 li a i.das {
        background: url(/web/20180905095310im_/http://laisy.com.tr/assets/images/gi.png) 0 -30px
    }

    .cor-ser-l1 li a i.wd {
        background: url(/web/20180905095310im_/http://laisy.com.tr/assets/images/gi.png) -15px -30px
    }

    .cor-ser-l1 li a i.wc {
        background: url(/web/20180905095310im_/http://laisy.com.tr/assets/images/gi.png) -30px -30px
    }

    .cor-ser-l1 li a i.ws {
        background: url(/web/20180905095310im_/http://laisy.com.tr/assets/images/gi.png) -45px -30px
    }

.cor-ser-l2, .cor-ser-l3 {
    width: 25%
}

    .cor-ser-l2 li a i.seos, .cor-ser-l3 li a i.seos {
        background: url(/web/20180905095310im_/http://laisy.com.tr/assets/images/gi.png) -60px -30px
    }

    .cor-ser-l2 li a i.smmaa, .cor-ser-l3 li a i.smmaa {
        background: url(/web/20180905095310im_/http://laisy.com.tr/assets/images/gi.png) -75px -30px
    }

    .cor-ser-l2 li a i.sea, .cor-ser-l3 li a i.sea {
        background: url(/web/20180905095310im_/http://laisy.com.tr/assets/images/gi.png) -90px -30px
    }

    .cor-ser-l2 li a i.seiar, .cor-ser-l3 li a i.seiar {
        background: url(/web/20180905095310im_/http://laisy.com.tr/assets/images/gi.png) -105px -30px
    }

    .cor-ser-l2 li a i.rs, .cor-ser-l3 li a i.rs {
        background: url(/web/20180905095310im_/http://laisy.com.tr/assets/images/gi.png) -120px -30px
    }

    .cor-ser-l2 li a i.ecs, .cor-ser-l3 li a i.ecs {
        background: url(/web/20180905095310im_/http://laisy.com.tr/assets/images/gi.png) -135px -30px
    }

    .cor-ser-l2 li a i.pr, .cor-ser-l3 li a i.pr {
        background: url(/web/20180905095310im_/http://laisy.com.tr/assets/images/gi.png) -150px -30px
    }

    .cor-ser-l2 li a i.hdsas, .cor-ser-l3 li a i.hdsas {
        background: url(/web/20180905095310im_/http://laisy.com.tr/assets/images/gi.png) -165px -30px
    }

.form-button span {
    float: left;
    height: 75px;
    color: #41ad49;
    font-size: 14px;
    line-height: 75px;
    font-weight: 400;
    letter-spacing: 5px;
    padding-left: 30px;
    background: #262729;
    border-top: 1px solid #3f4042
}

.form-button button {
    float: right;
    height: 30px;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    padding: 0 30px;
    background: #9f1f63;
    cursor: pointer
}

.valid-text {
    position: absolute;
    float: left;
    width: 100%;
    height: 75px;
    color: #dfdfdf;
    font-size: 16px;
    line-height: 75px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2.5px;
    background: #41ad49;
    top: 0;
    left: 0;
    z-index: 1
}

.con-lef {
    float: left;
    width: 48%;
    color: #333;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin-right: 2%
}

    .con-lef address {
        float: left;
        width: 100%;
        margin-bottom: 15px
    }

    .con-lef span {
        float: left;
        width: 100%;
        margin-bottom: 15px
    }

.con-rig {
    float: right;
    width: 48%;
    margin: 0 0 30px 2%
}

    .con-rig input {
        float: left;
        width: 100%;
        height: 30px;
        color: #262729;
        font-size: 13px;
        line-height: 30px;
        line-height: normal;
        font-weight: 300;
        margin-bottom: 5px;
        padding: 0 15px;
        border: 1px solid #ffd3ea
    }

    .con-rig textarea {
        float: left;
        width: 100%;
        height: 100px;
        color: #262729;
        font-size: 13px;
        line-height: 20px;
        font-weight: 300;
        margin-bottom: 5px;
        padding: 10px 15px;
        resize: inherit;
        border: 1px solid #ffd3ea
    }

.map {
    float: left;
    width: 100%;
    height: 400px;
    border: 0
}

@media screen and (max-width:1440px) {
    .sli-cl b {
        font-size: 35px;
        line-height: 40px
    }

    .abo-hom p {
        font-size: 16px;
        line-height: 24px
    }

    .cat span {
        font-size: 14px;
        line-height: 16px;
        bottom: 20px
    }

    .cat a {
        font-size: 16px;
        bottom: 0
    }
}

@media screen and (max-width:1366px) {
    .hea-men li {
        margin-right: 50px
    }

        .hea-men li a {
            font-size: 16px
        }

    .abo-hom p {
        line-height: 20px
    }
}

@media screen and (max-width:1200px) {
    .cat-lis li a b {
        font-size: 12px;
        font-weight: 600
    }

    .cat {
        margin-top: 25px
    }

    .ref-hom-lis li {
        margin-top: 10px;
        padding: 20px
    }

    .ref li {
        width: 19.2%
    }

        .ref li:nth-child(-n+6) {
            margin: 1% 1% 0 0
        }

        .ref li:nth-child(6n) {
            margin-right: 1%
        }

        .ref li:nth-child(-n+5) {
            margin: 0 1% 0 0
        }

        .ref li:nth-child(5n) {
            margin-right: 0
        }
}

@media screen and (max-width:1152px) {
    header {
        padding: 0
    }

    .hea-rig {
        right: 30px
    }

    .hea-men {
        padding-right: 30px
    }

        .hea-men li {
            margin-right: 25px
        }

    .sli-cl b {
        font-size: 25px;
        line-height: 30px
    }

    .rig-img {
        width: 40%
    }

    .cat span {
        bottom: 10px
    }

    .cat a {
        bottom: -10px
    }
}

@media screen and (max-width:980px) {
    .cat, .not-hc, .owl-dots, .ref-hom, .sli-cr {
        display: none
    }

    .sli-con {
        width: 30%
    }

    .sli-cl {
        width: 100%;
        right: 0
    }

        .sli-cl b {
            right: 30px
        }

    section {
        padding: 0 30px
    }

        section h1 {
            margin: 20px 0
        }

        section p:last-child {
            margin-bottom: 20px
        }

    .cat-lis {
        margin-top: 20px
    }

    .abo-hom {
        width: 100%;
        margin: 20px 0
    }

        .abo-hom h2 {
            font-size: 18px;
            margin-bottom: 5px
        }

        .abo-hom p {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 5px;
            padding-right: 0
        }

    .not, .ref {
        margin-bottom: 20px
    }

    .pro-lis {
        margin: 20px 0
    }

        .pro-lis li b {
            font-size: 14px
        }

    .con-lef {
        font-size: 16px
    }

        .con-lef address {
            margin-bottom: 10px
        }

        .con-lef span {
            margin-bottom: 10px
        }

    .con-rig {
        margin: 0 0 20px 2%
    }

    .map {
        margin-bottom: 20px
    }

    .foo-men, .mar {
        display: none
    }

    footer {
        padding: 20px 30px
    }

        footer address {
            margin: 20px 0 20px 0;
            font-size: 14px;
            line-height: 20px;
            text-align: center
        }

        footer b {
            font-size: 14px;
            line-height: 16px;
            text-align: center
        }

        footer span {
            font-size: 14px;
            text-align: center;
            margin-top: 20px
        }

    .foo-sn {
        display: block;
        float: none;
        width: 97px;
        margin: 0 auto
    }
}

@media screen and (max-width:800px) {
    .sli-cl b {
        font-size: 20px;
        line-height: 25px
    }

    .cat-lis li a b {
        height: 30px
    }
}

@media screen and (max-width:767px) {
    .hea-men, .log-pc, .sea {
        display: none
    }

    .hea {
        background: #fff;
        height: 150px
    }

    #mob-mb {
        display: block;
        position: absolute;
        width: 25px;
        height: 18px;
        background: url(/web/20180905095310im_/http://laisy.com.tr/assets/images/mbl-mb.png);
        top: 66px;
        left: 30px;
        cursor: pointer
    }

    .mob-men {
        position: absolute;
        display: block;
        width: 220px;
        height: auto;
        background: #58595b;
        top: 0;
        left: auto;
        right: auto;
        bottom: 0;
        overflow: auto
    }

        .mob-men ul li {
            float: left;
            width: 100%
        }

            .mob-men ul li a {
                display: block;
                float: left;
                width: 100%;
                height: 50px;
                color: #eee;
                font-size: 20px;
                text-align: right;
                font-weight: 300;
                line-height: 50px;
                padding-right: 20px
            }

    .log-mob {
        display: block
    }

    .log {
        display: block;
        float: none;
        width: 110px;
        height: 110px;
        margin: 20px auto
    }

    .hea-rig {
        top: 60px
    }

    .ref li {
        width: 31.33333333333333%;
        margin: 3% 3% 0 0;
        padding: 20px
    }

        .ref li:nth-child(-n+6) {
            margin: 3% 3% 0 0
        }

        .ref li:nth-child(6n) {
            margin-right: 3%
        }

        .ref li:nth-child(-n+5) {
            margin: 3% 3% 0 0
        }

        .ref li:nth-child(5n) {
            margin-right: 3%
        }

        .ref li:nth-child(-n+3) {
            margin: 0 3% 0 0
        }

        .ref li:nth-child(3n) {
            margin-right: 0
        }

    .pro-dl {
        width: 100%;
        margin-right: 0;
        padding: 20px
    }

    .pro-dr {
        width: 100%;
        margin-top: 20px
    }

    .pro-thu {
        margin-bottom: 20px
    }

    .pro-inf {
        margin: 20px 0
    }

        .pro-inf img {
            width: 100%
        }
}

@media screen and (max-width:640px) {
    .sli-con {
        width: 35%
    }

    .sli-cl b {
        font-size: 16px;
        line-height: 20px
    }

    .cor-lef {
        width: 100%;
        margin-right: 0
    }

    .cor-rig {
        width: 100%;
        margin-bottom: 20px
    }

    .pro-lis li {
        width: 47.5%;
        margin: 5% 5% 0 0
    }

        .pro-lis li:nth-child(-n+4) {
            margin: 5% 5% 0 0
        }

        .pro-lis li:nth-child(4n) {
            margin-right: 0
        }

        .pro-lis li:nth-child(-n+2) {
            margin: 0 5% 0 0
        }

        .pro-lis li:nth-child(2n) {
            margin-right: 0
        }

    .con-lef {
        width: 100%;
        margin-right: 0
    }

    .con-rig {
        width: 100%;
        margin: 0 0 20px 0
    }
}

@media screen and (max-width:568px) {
    .rig-img {
        width: 100%;
        margin: 0 0 20px 0
    }

    .cat-lis li {
        width: 45%;
        margin: 0 10% 20px 0
    }

        .cat-lis li:nth-child(2n) {
            margin: 0 0 20px 0
        }

        .cat-lis li a b {
            height: auto;
            font-size: 15px;
            margin-bottom: 10px
        }
}

@media screen and (max-width:480px) {
    .sli-con {
        position: absolute;
        width: 100%;
        height: auto;
        top: inherit;
        bottom: 0
    }

    .sli-cl {
        position: static;
        float: left;
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }

        .sli-cl b {
            position: static;
            float: left;
            width: 100%;
            font-size: 25px;
            line-height: 30px;
            text-align: center;
            padding: 10px 30px
        }

    .sli-cr {
        display: none
    }

    .sli li img.sli-pci {
        display: none
    }

    .sli li img.sli-mi {
        display: block
    }

    .pro-lis li {
        width: 100%;
        margin: 20px 0 0 0 !important
    }

        .pro-lis li:first-child {
            margin-top: 0 !important
        }

    .not img {
        width: 100%;
        margin: 0 0 20px 0
    }
}

@media screen and (max-width:375px) {
    .ref li {
        padding: 10px
    }
}

@media screen and (max-width:360px) {
    .cat-lis li {
        width: 100%;
        margin: 0 0 20px 0
    }

        .cat-lis li:nth-child(2n) {
            margin: 0 0 20px 0
        }

        .cat-lis li:last-child {
            margin: 0
        }

    .ref li {
        width: 100%;
        margin: 20px 0 0 0 !important;
        padding: 30px
    }

        .ref li:first-child {
            margin-top: 0 !important
        }
}
