<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EticaretContext" providerName="System.Data.SqlClient" connectionString="Data Source=94.73.151.2;Initial Catalog=u6202446_eticare; User Id=u6202446_eticare;Password=QZyc55U3COte45F;" />
  </connectionStrings>
</configuration>


